:root {
    --ip20-green: #006600;
    --ip20-red: #770000;
    --default-header-background: #C6C6C6;
    --default-header-profile-text: #000000;
    --default-header-profile-menu-background: rgba(50, 50, 50, 0.7);
    --default-header-profile-menu-text: #F0F0F0;
    --default-main-background: #6868F5;
    --default-main-finder-background: rgba(230, 230, 255, 0.5);
    --default-main-finder-input-border-color: #4444FF;
    --default-main-login-link-option-text-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 0.7rem;
    font-family: tahoma;
}

body {
    min-width: 320px;
    margin: 0;
}

hr {
    width: 80vw;
    margin-top: 2em;
}

/********************************* HEADER ************************************/

header {
    background-color: var(--default-header-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo img {
    height: 6.8em;
    padding: .2em;
}

/* .header__logo p {
    display: none;
} */
.header__logo_text--mobile {
    display: inline-block;
    font-size: 1.8em;
    font-weight: bold;
}
.header__logo_text--normal {
    display: none;
}

.header__profile {
    width: 9em;
    margin-right: 2em;
}

.header__profile_user {
    display: flex;
}

.header__profile_menu {
    display: none;
    position: absolute;
    background-color: var(--default-header-profile-menu-background);
    width: 9em;
    border: .1em solid #2f2fa0;
    text-align: center;
}

.header__profile_menu ul {
    list-style: none;
    padding: 0;
}

.header__profile_menu li {
    margin: .6em 0;
}

.header__profile_menu li a {
    color: var(--default-header-profile-menu-text);
    text-decoration: none;
}

.header__profile_menu li a:hover {
    text-decoration: underline;
}

.header__profile_user:hover ~ div, .header__profile_menu:hover {
    display: block;
}

/****************************** MAIN AREA ************************************/

main {
    background: linear-gradient(to bottom, var(--default-header-background) 0%, var(--default-main-background) 100%);
}

/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvv FINDER vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
.main__finder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: auto;
    margin: 0 auto;
}

.main__finder h2 {
    text-align: center;
    width: 70vw;
}

.main__finder_input {
    background-color: var(--default-main-finder-background);
    border: .2em solid var(--default-main-finder-input-border-color);
    border-radius: 2em;
    height: 2.5em;
    width: 70vw;
    padding: 0 1.5em;
    outline-style: none;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* vvvvvvvvvvvvvvvvvvvvvvvvvvvv CAROUSEL vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
.carousel_heading{
    margin: 0.1em 0em;
    padding: 0.2em 0em;
}

.carousel {
    width: 100vw;
    overflow-x: scroll;
    padding: 0 0 0 1.6em;
    position: relative;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel__container {
    white-space: nowrap;
    margin: 4em 0;
    padding-bottom: .8em;
}

.carousel__item {
    width: 14em;
    height: 16em;
    border-radius: 2em;
    overflow: hidden;
    margin-right: .8em;
    display: inline-block;
    cursor: pointer;
    transition: 350ms;
    transform-origin: center left;
    position: relative;
}

.carousel__item:hover ~ .carousel__item {
    transform: translate3d(7em, 0, 0);
}

.carousel__container:hover .carousel__item {
    opacity: 0.3;
}

.carousel__container:hover .carousel__item:hover {
    opacity: 1;
    transform: scale(1.5);
}

.carousel__item_image {
    width: 14em;
    height: 16em;
    object-fit: cover;
}

.carousel__item_details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 85%);
    transition: all 350ms;
    width: 100%;
    white-space: normal;
    font-size: 0.8em;
    opacity: 0;
    padding: 0.8em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.carousel__item_details:hover {
    opacity: 1;
    transition: all 350ms;
}

.carousel__item_detail_option {
    width: 2em;
}

.carousel__item_details p {
    color: #FFFFFF;
    margin: 0.1em 0;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 18em);
}

.notfound p {
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em 2em;
}

/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvv LOGIN vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 18em);
}

.login_container {
    background-color: transparent;
    width: 26em; /* Tamaño preferente */
    min-width: 320px;
    min-height: 36em;
    border: 0;
    padding: 3.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login_container__form {
    display: flex;
    flex-direction: column;
}

.login_container__input {
    background-color: transparent;
    height: 3em;
    border: 0;
    border-bottom: .2em solid #000000;
    margin-bottom: 1.2em;
    padding: 0 1.2em;
    outline: none;
}

::placeholder {
    color: var(--ip20-green);
}

.login_container__submit {
    background-color: rgba(0, 0, 255, 0.1);
    color: var(--ip20-green);
    font-weight: bold;
    height: 3em;
    border: none;
    border-radius: 2em;
    padding: 1em 0;
    margin: 0.8em 0;
    cursor: pointer;
    letter-spacing: .1em;
}

.login_container__remember_me {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1em;
}

.login_container__label {
    color: var(--default-main-login-link-option-text-color);
    font-size: 0.9em;
}

.login_container__social_media_options > div {
    display: flex;
    align-items: center;
    margin-top: 0.8em;
}

.login_container__social_media_options > div > img {
    margin-right: 0.8em;
}

.login_container__link_option {
    font-size: 0.9em;
    color: var(--default-main-login-link-option-text-color);
    text-decoration: none;
}
.login_container__link_option:hover {
    text-decoration: underline;
}

.login_container__link_option--important {
    color: var(--default-main-login-link-option-text-color);
    text-decoration: none;
    font-weight: bold;
}
.login_container__link_option--important:hover {
    text-decoration: underline;
}

/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvv REGISTER vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
.login_container__text--centered {
    text-align: center;
}

.login_container__text--centered a {
    color: var(--default-main-login-link-option-text-color);
    text-decoration: none;
    font: bold;
}

.login_container__text--centered a:hover {
    text-decoration: underline;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/********************************** FOOTER ***********************************/
footer {
    background-color: var(--default-main-background);
    width: 100%;
    padding: 4em 2em;
}

.footer_resources {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__link {
    color: var(--ip20-red);
    text-decoration: none;
    cursor: pointer;
    margin-top: 1em;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer_copyright {
    text-align: center;
}

/*****************************************************************************/
/***************************** MEDIA QUERIES *********************************/
/*****************************************************************************/

@media only screen and (min-width: 360px) {
    .login_container {
        background-color: rgba(255, 255, 255, 0.15);
        border: .2em solid var(--default-main-login-link-option-text-color);
        border-radius: 2em;
    }
}

@media only screen and (min-width: 480px) {
    html {
        font-size: 0.8rem;
    }
    .header__logo_text--mobile {
        display: none;
    }
    .header__logo_text--normal {
        display: inline-block;
        font-size: 1.8em;
        font-weight: bold;
    }
    .footer_resources {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 680px) {
    html {
        font-size: 0.9rem;
    }
}